body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  
}

nav ul li a {
  color: rgb(219, 178, 102);
  text-decoration: none;
  font-size: large;
}

section {
  padding: 20px;
  margin: 10px 0;
}

#secao1 {
  background: #1e1e1e;
  color: white;
  background-image: url('pizza.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#secao1 h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#secao2 {
  background: #1e1e1e;
  color: white;
}

#secao3 {
  background: #1e1e1e;
  color: white;
}

#secao4 {
  background: #1e1e1e;
  color: white;
}
